@using BPMeasurement.Entities
@model List<BloodPressure>
@{ViewData["Title"] = "All Blood Pressure data";
}

<a asp-controller="BP" asp-action="Add">Add new BP measurement</a>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Reading</th>
            <th>Category</th>
            <th>Postion</th>
            <th>Data Taken</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (BloodPressure bp in Model)
        {
            var categoryClass = "";
            switch (bp.Category)
            {
                case "Normal":
                    categoryClass = "normal";
                    break;
                case "Elevated":
                    categoryClass = "elevated";
                    break;
                case "Hypertension Stage 1":
                    categoryClass = "hypertension-stage1";
                    break;
                case "Hypertension Stage 2":
                    categoryClass = "hypertension-stage2";
                    break;
                case "Hypertensive Crisis":
                    categoryClass = "hypertensive-crisis";
                    break;
                default:
                    categoryClass = "unknown-category";
                    break;
            }

            <tr>
                <td class="@categoryClass">@bp.Systolic/@bp.Diastolic</td>
                <td class="@categoryClass">@bp.Category</td>
                <td>@bp.Position.Name</td>
                <td>@bp.DateTime.ToString("yyyy-MM-dd")</td>

                <td>
                    <a asp-controller="BP" asp-action="Edit" asp-route-id="@bp.BloodPressureId">Edit</a>
                    <span class="mx-1">|</span>
                    <a asp-controller="BP" asp-action="Delete" asp-route-id="@bp.BloodPressureId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>